@attribute [Route(Utility.RouteData.MyPassword)]
@attribute [Authorize]
@layout DashboardLayout


<div class="flex justify-between items-center  my-4">
    <h2 class="text-xl font-bold text-gray-800 text-center mb-6">My Password</h2>

    <button @onclick="ShowAccessControlModal" class="main-bg-dark-color shadow-theme-xs hover:bg-brand-600 inline-flex items-center justify-center gap-2 rounded-lg px-4 py-3 text-sm font-medium text-white transition">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M5 10.0002H15.0006M10.0002 5V15.0006" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        Create Password
    </button>

</div>







<div class=" rounded-xl border border-gray-200 ">

    @if (accessCompanyList != null)
    {
        @if (accessCompanyList.Count > 0)
        {
            <table class="min-w-full text-left text-gray-700 ">
                <thead class="bg-gray-200 ">
                    <tr class="border-b border-gray-100">

                        <th class="px-5 py-3 text-sm font-medium whitespace-nowrap text-gray-700 ">No</th>
                        <th class="px-5 py-3 text-sm font-medium whitespace-nowrap text-gray-700 ">Platform</th>
                        <th class="px-5 py-3 text-sm font-medium whitespace-nowrap text-gray-700 ">URL</th>
                        <th class="px-5 py-3 text-sm font-medium whitespace-nowrap text-gray-700 ">Username</th>
                        <th class="px-5 py-3 text-sm font-medium whitespace-nowrap text-gray-700 ">Password</th>
                        <th class="px-5 py-3 text-sm font-medium whitespace-nowrap text-gray-700 ">Company</th>
                        <th class="px-5 py-3 text-sm font-medium whitespace-nowrap text-gray-700 "> Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in accessCompanyList)
                    {
                        <tr>

                            <td class="px-5 py-3 text-sm whitespace-nowrap text-gray-500 bg-white">@item.ID</td>
                            <td class="px-5 py-3 text-sm whitespace-nowrap text-gray-500 bg-white">@item.Platform</td>
                            <td class="px-5 py-3 text-sm whitespace-nowrap text-gray-500 bg-white">@item.URL</td>
                            <td class="px-5 py-3 text-sm whitespace-nowrap text-gray-500 bg-white">@item.Password</td>
                            <td class="px-5 py-3 text-sm whitespace-nowrap text-gray-500 bg-white">@item.Company</td>

                            <td class="px-5 py-3 text-sm font-medium whitespace-nowrap text-gray-800 bg-white relative">
                                <button class="three-btn border border-gray-800 rounded-md " onclick="toggleThreeDotMenu()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="main-color icon icon-tabler icons-tabler-outline icon-tabler-dots-vertical"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                                </button>
                                <div class="z-10 dropdown absolute right-2 top-10  bg-white border shadow rounded hidden
                                                                            opacity-0 scale-95 transition-all duration-200">
                                    <button @onclick="() => EditAccessControl(item)" class=" flex w-full items-center gap-2 rounded-t-md border-b p-2 hover:bg-gray-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-green-600 icon icon-tabler icons-tabler-outline icon-tabler-file-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M10 18l5 -5a1.414 1.414 0 0 0 -2 -2l-5 5v2h2z" /></svg>
                                        Edit
                                    </button>
                                    <button @onclick="() => DeleteConfirmModal(item.ID)" class=" flex items-center gap-2 w-full rounded-b-md  p-2 hover:bg-gray-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-red-600 icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                        Delete
                                    </button>
                                </div>



                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        }

    }



</div>







<!--------Popup Start-------->
<div id="addAccountModal" class="hidden fixed inset-0 bg-black/60 flex items-center justify-center z-40">
    <div id="ModalContaner" class="min-w-  popup-animate">
        <div class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-3">
            <div class="border-b border-gray-200">
                <button @onclick="HideAccessControlModal" class="transition-color absolute right-3 top-3 z-999 flex h-8 w-8 items-center justify-center rounded-full bg-gray-100 text-gray-400 hover:bg-gray-200 hover:text-gray-600  ">
                    <svg class="fill-current text-red-700" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04289 16.5418C5.65237 16.9323 5.65237 17.5655 6.04289 17.956C6.43342 18.3465 7.06658 18.3465 7.45711 17.956L11.9987 13.4144L16.5408 17.9565C16.9313 18.347 17.5645 18.347 17.955 17.9565C18.3455 17.566 18.3455 16.9328 17.955 16.5423L13.4129 12.0002L17.955 7.45808C18.3455 7.06756 18.3455 6.43439 17.955 6.04387C17.5645 5.65335 16.9313 5.65335 16.5408 6.04387L11.9987 10.586L7.45711 6.04439C7.06658 5.65386 6.43342 5.65386 6.04289 6.04439C5.65237 6.43491 5.65237 7.06808 6.04289 7.4586L10.5845 12.0002L6.04289 16.5418Z" fill=""></path>
                    </svg>
                </button>
                <h4 class="mb-2 text-xl font-semibold text-gray-800 text-center">
                    Employee Managemnet
                </h4>

            </div>
            <form class="">
                <div class="custom-scrollbar h-[450px] overflow-y-auto px-2 mt-4">



                    <div class="grid grid-cols-1  md:grid-cols-2 gap-x-6 gap-y-5 lg:grid-cols-3">


                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                Platform Name
                            </label>
                            <input type="text" placeholder="Name" @bind-value="accessCompany.Platform" class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div>

                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                URL
                            </label>
                            <input type="text" placeholder="Job title" @bind-value="accessCompany.URL" class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div>

                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                User Name
                            </label>
                            <input type="text" placeholder="Job title" @bind-value="accessCompany.UserName" class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div>

                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                Password
                            </label>
                            <input type="text" placeholder="Job title" @bind-value="accessCompany.Password" class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div>







                    </div>
                </div>

                <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end border-t border-gray-200 pt-4">
                    <button @onclick="HideAccessControlModal" type="button" class="flex w-full justify-center rounded-lg border border-gray-300 bg-white px-4 py-2.5 text-sm font-medium text-gray-700 hover:bg-gray-50  sm:w-auto">
                        Close
                    </button>
                    <button @onclick="SaveAccessControl" type="button" class="flex w-full justify-center rounded-lg main-bg-dark-color px-4 py-2.5 text-sm font-medium text-white hover:bg-brand-600 sm:w-auto">
                        Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<AlertMessage ParmMessage="@AlertMessage" ParmSucessOrFaild="@SuccessOrFaild" />
<DeleteConfirmModal Message="@DeleteConfirmModalMessage" OnSubmit="DeleteAccessControl" />