 @attribute [Route(Utility.RouteData.CompanyManagement)] 
@attribute [Authorize(Roles = "SuperAdmin,CompanyAdmin")]
@layout DashboardLayout
@using SwitchCMS.Component.CommonComponents
@inject IJSRuntime JS


<div class="flex justify-between items-center  my-4">
<h2 class="text-xl font-bold text-gray-800 text-center mb-6">Company Management</h2>

    <button @onclick="ShowCompanyModal" class="main-bg-dark-color shadow-theme-xs hover:bg-brand-600 inline-flex items-center justify-center gap-2 rounded-lg px-4 py-3 text-sm font-medium text-white transition">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M5 10.0002H15.0006M10.0002 5V15.0006" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    Create Company
</button>

</div>



    @if (companyPagination.CompanyList.Count > 0)
    {
    <div class=" rounded-xl border border-gray-200 ">
        <table class="min-w-full text-left text-gray-700 ">
            <thead class="bg-gray-200 ">
                <tr class="border-b border-gray-100">
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        No
                    </th>
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        Company Name
                    </th>
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        Email Address
                    </th>
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        CR Number
                    </th>
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        Contact Person
                    </th>
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        Contact Person Number
                    </th>
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        View Attachment
                    </th>
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        Status
                    </th>
                    <th class="px-2 py-2 text-sm font-medium   text-gray-700 ">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 ">
    @foreach (var item in companyPagination.CompanyList)
                {
                    <tr>
                        <td class="px-2 py-2 text-sm   text-gray-500 bg-white">
                            @item.ID
                        </td>
                        <td class="px-2 py-2 text-sm font-medium   text-gray-800 bg-white">
                            @item.Name
                        </td>
                        <td class="px-2 py-2 text-sm font-medium   text-gray-800  bg-white">
                            @item.Email
                        </td>
                        <td class="px-2 py-2 text-sm font-medium   text-gray-800 bg-white">
                            @item.CRNumber
                        </td>
                        <td class="px-2 py-2 text-sm font-medium   text-gray-800 bg-white">
                            @item.ContactPerson
                        </td>
                        <td class="px-2 py-2 text-sm font-medium   text-gray-800 bg-white">
                            @item.PhoneNumber
                        </td>
                        <td class="px-2 py-2 text-sm font-medium   text-gray-800 bg-white">
                            <button class="flex gap-1 border rounded-md py-1 px-2 main-bg-dark-color text-white text-xs" @onclick="()=>ViewCertificate(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-paperclip"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" /></svg>
                                Attachment
                            </button>
                        </td>
                        <td class="px-2 py-2 text-sm font-medium   text-gray-800 bg-white">
                            @if(item.Status==Utility.CompanyStatus.InActive)
                            {
                                <span class="text-theme-xs rounded-full px-2 py-0.5 font-medium bg-red-50 text-red-700 ">@item.Status</span>
                            }
                            else
                            {
                                <span class="text-theme-xs rounded-full px-2 py-0.5 font-medium bg-green-50  text-green-700 ">@item.Status</span>
                            }
                            
                        </td>

                       

                             @if(item.Status!=Utility.CompanyStatus.Pending)
                            {
                            <td class="px-2 py-2 text-sm font-medium   text-gray-800 bg-white relative">
                                <button class="three-btn border border-gray-800 rounded-md " onclick="toggleThreeDotMenu()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="main-color icon icon-tabler icons-tabler-outline icon-tabler-dots-vertical"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                                </button>
                                <div class="z-10 dropdown absolute right-2 top-10  bg-white border shadow rounded hidden min-w-48 opacity-0 scale-95 transition-all duration-200">
                                    <button @onclick="()=>EditCompany(item)" class=" flex w-full items-center gap-2 rounded-t-md border-b p-2 hover:bg-gray-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-green-600 icon icon-tabler icons-tabler-outline icon-tabler-file-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M10 18l5 -5a1.414 1.414 0 0 0 -2 -2l-5 5v2h2z" /></svg>
                                        Edit
                                    </button>
                                    <button @onclick="() => DeleteConfirmModal(item.ID)" class=" flex items-center gap-2 w-full rounded-b-md  p-2 hover:bg-gray-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-red-600 icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                        Delete
                                    </button>
                                </div>
                            </td>
                            }
                            else
                            {
                            <td class="px-2 py-2 text-sm font-medium   text-gray-800 bg-white relative"><button @onclick="() => UpdateCompanyStatus(item.ID)" class="btn btn-primary">Approve</button></td>
                            }

                      
                    </tr>
                }
                
             
            </tbody>
        </table>
        </div>


        <div class="flex justify-center mt-5">
        <PaginationComponent selected="@companyPagination.PageIndex"
                             TotalCount="@companyPagination.TotalPage"
                             SelectedPageChanged="PaginationResponse" />
       </div>
    }
    



<!--------------View Attachment Modal---------------->
<div id="ViewAttachmentModal" class="hidden fixed inset-0 bg-black/60 flex items-center justify-center z-40">
    <div id="AttachmentModalContaner" class="popup-animate">
        <div class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-3">
            <div class="border-b border-gray-200">
                <button @onclick="HideAttachmentModal" class="transition-color absolute right-3 top-3 z-999 flex h-8 w-8 items-center justify-center rounded-full bg-gray-100 text-gray-400 hover:bg-gray-200 hover:text-gray-600  ">
                    <svg class="fill-current text-red-700" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04289 16.5418C5.65237 16.9323 5.65237 17.5655 6.04289 17.956C6.43342 18.3465 7.06658 18.3465 7.45711 17.956L11.9987 13.4144L16.5408 17.9565C16.9313 18.347 17.5645 18.347 17.955 17.9565C18.3455 17.566 18.3455 16.9328 17.955 16.5423L13.4129 12.0002L17.955 7.45808C18.3455 7.06756 18.3455 6.43439 17.955 6.04387C17.5645 5.65335 16.9313 5.65335 16.5408 6.04387L11.9987 10.586L7.45711 6.04439C7.06658 5.65386 6.43342 5.65386 6.04289 6.04439C5.65237 6.43491 5.65237 7.06808 6.04289 7.4586L10.5845 12.0002L6.04289 16.5418Z" fill=""></path>
                    </svg>
                </button>
                <h4 class="mb-2 text-xl font-semibold text-gray-800 text-center">
                    Attachment
                </h4>

            </div>
            
            <div class="flex flex-col">
                <div class="custom-scrollbar max-h-[450px] overflow-y-auto px-2 mt-3">
                    <div data-attachment-accordion class="w-full max-w-xl mx-auto">
                        <button class="attach-acco-btn acc-btn w-full text-left py-2 px-4 bg-white flex justify-between items-center  rounded-xl border border-gray-200 " type="button">
                            <span class="font-medium">CR Certificate</span>
                            <span class="acc-symbol">+</span>
                        </button>
                        <div class="hidden  p-3 rounded-xl border border-gray-200 text-gray-700">
                            <iframe src="@CRCertificateURL" width="100%" height="600"></iframe>
                        </div>

                        <button type="button" class="attach-acco-btn acc-btn w-full text-left py-2 px-4 bg-white flex justify-between items-center  rounded-xl border border-gray-200 mt-3">
                            <span class="font-medium">National ID</span>
                            <span class="acc-symbol">+</span>
                        </button>
                        <div class="hidden p-3 rounded-xl border border-gray-200 text-gray-700">
                            <iframe src="@NationalIdUrl" width="100%" height="600"></iframe>

                        </div>
                        <button type="button" class="attach-acco-btn acc-btn w-full text-left py-2 px-4 bg-white flex justify-between items-center  rounded-xl border border-gray-200 mt-3">
                            <span class="font-medium">VAT Certificate</span>
                            <span class="acc-symbol">+</span>
                        </button>
                        <div class="hidden  p-3 rounded-xl border border-gray-200 text-gray-700">
                            <iframe src="@VatCertificateUrl" width="100%" height="600"></iframe>

                        </div>
                        <button type="button" class="attach-acco-btn acc-btn w-full text-left py-2 px-4 bg-white flex justify-between items-center  rounded-xl border border-gray-200 mt-3">
                            <span class="font-medium">Others</span>
                            <span class="acc-symbol">+</span>
                        </button>
                        <div class="hidden  p-3 rounded-xl border border-gray-200 text-gray-700">
                            <iframe src="@OtherCertificateUrl" width="100%" height="600"></iframe>

                        </div>
                    </div>



                </div>
               
            </div>
        </div>


    </div>
</div>
<SwitchCMS.Component.Pages.Dashboard.CompanyManagement.CompanyManagementComponent.CompanyManagementComponent ParamCompany="companyModal" ModalCreateorUpdate="ModalCreateOrUpdateResult" />
<DeleteConfirmModal Message="DeleteConfirmModalMessage" OnSubmit="DeleteCompany" />
<AlertMessage ParmMessage="@AlertMessage" ParmSucessOrFaild="@SuccessOrFaild" />
@code{
   
    
    private async void HideAttachmentModal()
    {
        await JS.InvokeVoidAsync("hideViewAttachmentModal");
    }
   
    private async void EditCompany()
    {
        await JS.InvokeVoidAsync("showEditCompanyManagementModal");
    }
    private async void EditCompanyManageHide()
    {
        await JS.InvokeVoidAsync("hideEditCompanyManagementModal");
    }
}